#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-primary {
  background-color: #296ac0 !important;
}

.bg-success {
  background-color: #72d372 !important;
}
.bg-warning {
  background-color: #ea694d !important;
}
.bg-danger {
  background-color: #febb48 !important;
}

.btn-danger {
  background-color: #febb48 !important;
}
.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
#work img {
  width: 350px;
}

#canvas {
  z-index: -1;
  width: 100%;
  height: 50vh;
}

#main-body {
  z-index: 1 !important;
}
